.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;
  min-height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  border-right: 1px solid var(--grey-1);
}
