.root {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: var(--spacing-lg);
}

.sidebar {
  min-height: 100vh;
  border-right: 1px solid var(--grey-1);
  position: sticky;
  top: 0;
}

.page-root {
  min-height: calc(100vh - var(--topnav-height));
  width: 640px;
  margin: var(--spacing-xl) auto;
}

.links {
  display: flex;
  gap: var(--spacing-sm);
  flex-direction: column;
  margin: var(--spacing-md) 0;
}

.project-link {
  padding: var(--spacing-sm);
  transition: all 0.2s;
}

.project-link:hover {
  border-radius: var(--radius-sm);
  background: var(--grey-1);
}

.language {
  font-size: 0.75rem;
  font-weight: 600;
}
